@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');
/* Can use this import in place of the html link */

body{
    background: hsl(233, 47%, 7%);
    color: hsl(0, 0%, 100%);
    text-align: center;
}

h1{
    font-family: 'Inter', sans-serif;
}

p{
    font-family: 'Inter', sans-serif;
    color: hsla(0, 0%, 100%, 0.6);
    margin-bottom: 0px;
    font-size: 14px;
    line-height: 1.9;
}

.text span{
    color: hsl(277, 64%, 61%);
}

.grid-container{
    display: grid;
    grid-template-columns: 33rem 33.7rem;
    grid-template-rows: 1fr;
    grid-template-areas: 
        'a b';
    background: hsl(244, 38%, 16%);
    margin: 10rem 16rem 1rem;
    border-radius: 9px;
}

.text{
    text-align: left;
    grid-area: a;
    padding: 3rem;
    margin: 0rem 1rem;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
}

.bgPhoto{
    grid-area: b;
    background: -webkit-linear-gradient(hsla(277, 100%, 23%, 0.651), hsla(277, 100%, 22%, 0.651)), url(../images/image-header-desktop.jpg), 
    center/cover;
    object-fit: cover;
    height: 27.9rem;
    width: auto;
    border-bottom-right-radius: 9px;
    border-top-right-radius: 9px;
}

.stats h2{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    padding-top: 4rem;
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-size: 20px;
    /* font-size: 15px; */
}

.stats p{
    font-size: 13px;
    color: hsla(0, 0%, 100%, 0.6);
    padding-top: 5px;
    padding-bottom: 0px;
    letter-spacing: 1px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Lexend Deca', sans-serif;
}

.attribution{
    color: white;
    font-family: 'Lexend Deca', sans-serif;
}

.attribution a{
    color: hsl(277, 64%, 61%);
}
